<launch>
  <include file="$(find gazebo_to_ros_tf)/launch/gazebo_to_ros_tf.launch"/>
  <arg name="model" default="$(find bumperbot_description)/urdf/bumperbot.urdf.xacro"/>
  <arg name="world" default="empty_world"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused"        value="false"/>
    <arg name="use_sim_time"  value="true"/>
    <arg name="gui"           value="true"/>
    <arg name="headless"      value="false"/>
    <arg name="debug"         value="false"/>
    <arg name="world_name"    value="$(arg world)"/>
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_bumperbot"
      args="-urdf -param robot_description -model bumperbot
            -x -1.9 -y 1.7 -z 0 -Y 0"
        output="screen"/>
</launch>